<h1 class="title">F2S Configuration</h1>
<hr />

<!-- RESULT -->
<div class="card">
    <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">F2S - Timeouts</p>
          </div>
        </div>
    
        <div class="content">
            request_timeout (ms)
            <input class="input" id="request_timeout" readOnly />
            http_timeout (ms)
            <input class="input" id="http_timeout" readOnly />
            scaling_timeout (ms)
            <input class="input" id="scaling_timeout" readOnly />
        </div>
    </div>
  </div>
  